*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
    border: 2px solid lightgrey; 
    display: flex;
    height: 12vh;
    align-items: center;
    justify-content: space-around;
}
header img{
    width: 10%;
}
header img:hover{
    cursor: pointer;
}
nav{
    width: 55%;
}
ul li{
    font-weight: 700;
}
nav ul{
    display: flex;
    list-style: none;
    margin: 0 auto;
    width: 80%;
    justify-content: space-around;
}
ul .drop_down{
    background-color: white;
    box-shadow: 1px 1px 1px 1px lightgrey;
    position: absolute;
    margin: 1em 0 0 0;
    z-index: 99;
    line-height: 2em;
    display: none;
    padding: 1em 5em 1em 1.7em;
    border-radius: 10px;
}
header ul div button{
    background: none;
    border: none;
}
div:focus-within .drop_down{
    display: block;
}
.drop_down .q{
    color: blue;
}
div:hover .drop_down{
    display: block;
}

.drop_down a{
    text-decoration: none;
    color: black;
}
.drop_down a:hover{
    color: rgb(128,234,110);
}
.rectangle{
    display: flex;
}
.rectangle .rect{
    width: 85%;
    background-color: rgb(235,242,242);
    overflow: hidden;
    height: 55vh;
    justify-content: space-between;
    display: flex;
}
.circle{
    height: 600px;
    background-color: white;
    border-radius: 100%;
    width: 600px;
    margin: -4em 0 0 -8em;
    display: flex;
    overflow: hidden;
    transform: rotate(40deg);
    align-items: flex-end;
}
.circle .one_rect{
    background-color: rgb(109,179,63);
    width: 350px;
    animation: boxes 3s 1;
    height: 350px;
}
.circle .two_rect{
    background-color: rgb(128,234,110);
    width: 350px;
    animation: boxes 1s 1 0.5s;
    height: 350px;
}
.box_circle_two{
    overflow: hidden;
    height: 12.5em;
    width: 25em;
}
.box_circle_two .circle_two{
    height: 25em;
    width: 25em;
    animation: boxes 1s 1 0.5s;
    border-radius: 100%;
    background-color: rgb(128,234,110);
    margin: -2em 0 0 9em;
}
.small_rect{
    height: 12.5em;
    width: 14em;
    animation: boxes 3s 1;
    background-color:rgb(109,179,63);
}
@keyframes boxes{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
@keyframes text_changing{
    0%{
        content: "Simple.";
    }
    50%{
        content: "Modern.";
    }
    70%{
        content: "Productive.";
    }
    100%{
        content: "reactive.";
    }
}
main .forground{
    width: 40%;
    text-align: center;
    position: absolute;
    top: 6em;
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    right: 15em;
    font-weight: 700;
}
.forground h2::before{
    content: "Simple.";
    animation-name: text_changing;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
.forground h2:hover{
    color: black;
    cursor: auto;
}
.forground button{
    height: 7vh;
    width: 20%;
    border: 2px solid black;
}
.forground button:hover{
    background-color: black;
    color: white;
    cursor: pointer;
  
}
main .down{
    display: flex;
    color: rgb(0,102,204);
    width: 35%;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
}
.down button{
    width: 15%;
    border-radius: 20px;
    background-color: rgb(0,102,204);
    color: white;
    border: none;
    outline: none;
    height: 4vh;
}
.down p:hover{
    border-bottom: 3px solid rgb(0,102,204);
}
.can{
    font-size: 20px;
    font-weight: bold;
    width: 90%;
    text-align: left;
    padding: 3em 0;
    margin: 0 auto;
}
.images_text, .images_text .adjust{
    width: 90%;
    font-size: 15px;
    margin: 0 auto;
    padding: 2em;
    display: flex;
    justify-content: space-between;
    text-align: center;
}
.adjust{
    justify-content: space-evenly;
}
.images_text img, .adjust img{
    width: 30%;
}
.images_text div, .adjust div{
    width: 23%;
    justify-content: space-between;
    line-height: 40px;
    font-size: 1.3rem;
    border: 1px solid lightgrey;
    height: 50vh;
}
.images_text div:hover{
    transform: scale(1.04, 1.04);
    border: none;
    cursor: pointer;
    box-shadow: 2px 2px 2px 2px lightgrey;   
}
.four{
    display: flex;
    justify-content: space-between;
    width: 80%;
    padding: 4em 0 0 0;
    margin: 0 auto;
}
.four span{
    color: rgb(51,125,161);
}
.four .code{
    width: 40%;
    margin: 0 auto;
    padding: 3em;
    height: 25vh;
    border-radius: 10px;
    color: white;
    background-color: black;
}
.four .green{
    color: rgb(72,182,93);
}
.four .yellow{
    color: rgb(146,145,52);
}
.four .content{
    padding: 2.5em;
    width: 45%;
}
.four .content span:hover{
    border-bottom: 2px solid rgb(23,120,201);
    cursor: pointer;
}
main .six{
    width: 90%;
    height: 55vh;
    margin: 0 auto;
    padding: 6em 0 0 0;
    text-align: center;
}
.six img{
    width: 10%;
}
.six .side{
    padding: 3em 0 0 0;
    width: 35%;
    display: flex;
    margin: 0 auto;
}
.side img{
    width: 10%;
    border-radius: 100%;
}
.six h2{
    color: rgb(128,234,110);
}
main .seven{
    width: 100%;
    height: 45vh;
    background-color: rgb(235,242,242);
    overflow: hidden;
    
}
.seven .circle_seven{
    height: 300px;
    margin: 6em 0 0 80em;
    width: 300px;
    border-radius: 100%;
    background-color: rgb(109,179,63);
}
.eight{
    width: 80%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 155em;
    right: 15em;
}
.eight a{
    text-decoration: none;
    color: rgb(23,120,201);
}
main .nine{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3em 0 0 0;
    margin: 0 auto;
}
.nine .general{
    width: 55%;
    display: flex;
    justify-content: space-around;
    padding: 0 0 0 2em;
}
.general div{
    line-height: 30px;
}
.general div h2{
    font-weight: 700;
}
.general div p:hover, h2:hover{
    color: rgb(128,234,110);
    cursor: pointer;
}
.nine .news{
    width: 40%;
}
.news .email{
    width: 40%;
    padding:  0 0 0 1em;
    height: 7vh;
    border: 1px solid lightgreen;
}
.news button{
    width: 30%;
    background-color: black;
    margin: 0 0 0 -0.5em;
    color: white;
    border: none;
    height: 7.2vh;
}
.news button:hover{
    background-color: rgb(109,179,63);
}
footer .part_one{
    width: 90%;
    display: flex;
    margin: 0 auto;
    padding: 3em 0 0 0;
    justify-content: space-between;
    align-items: center;
}
footer .part_one img{
    width: 15%;
}
footer .icons{
    width: 10%;
    height: 4vh;
    margin: 0 0 0 4em;
}
footer .part_two{
    display: flex;
    width: 90%;
    margin: 0 auto;
}
footer .part_two ul{
    display: flex;
    font-size: .9em;
    width: 60%;
    justify-content: space-around;
}
footer .part_two li:hover{
    text-decoration: underline;
    color: blue;
    cursor: pointer;
}
.part_three{
    width: 70%;
    color: rgb(193,189,188);
    margin: 0 0 5em 6em;
    font-size: .8em;
}